  <div class="duyuru">
    <a href="#">
      <h1>Duyurular</h1>
    </a>
    <div class="haber" *ngFor="let sNews of news | slice:0:4; let i= index">
      <img [src]="symbols[i%4]" alt="haber">
      <a [href]="'haberler.html?id='+sNews.id">
        <div class="konu">
          <h2>{{sNews.title}}</h2>
          <p>{{sNews.description}}</p>
        </div>
      </a>
    </div>
    <div class="buttoncont">
      <a href="haberler.html">
        <div class="haberbutton">
          Tümünü Gör
        </div>
      </a>
    </div>
