
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
  
  
<div class="banner">
    <a href="index.html">
    <div class="banner_left ">
      SANTRA PLAYSTATİON
    </div>
    </a>
    <div class="motto">
      "Oyunun Başlama Merkezi"
    </div>
  </div>
  <div class="menubar">
    <div class="menuac">
      <i class="fas fa-bars fa-2x"></i>
    </div>
    <div class="menu">
      <div class="mobilemenu">
        <a [routerLink]="['']" ><i class="fas fa-home"></i> ANASAYFA</a>
      </div>
      <div class="mobilemenu">
        <a [routerLink]="['oyunlar/ps4']"><i class="fas fa-gamepad"></i> PS4 OYUNLARI</a>
      </div>
      <div class="mobilemenu">
        <a [routerLink]="['oyunlar/ps3']"><i class="fas fa-gamepad"></i> PS3 OYUNLARI</a>
      </div>
      <div class="mobilemenu">
        <a [routerLink]="['haberler']"><i class="fas fa-newspaper"></i> HABERLER</a>
      </div>
      <div class="mobilemenu">
        <a [routerLink]="['iletisim']"><i class="fas fa-phone"></i> İLETİŞİM</a>
      </div>
    </div>
  </div>